@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Amita&family=Baloo+2:wght@500&family=Gotu&family=Halant:wght@300&family=Nanum+Gothic&family=Rozha+One&display=swap');
*{
    font-family: 'Halant', serif;
    margin: 0%;
}

:root{
    --primary-color: #67e8f9;
    --secondary-color: #22d3ee;
    --background-pri: #cffafe;
    --background-sec: #f0f9ff;
    --heading-color: #164e63;
}

body{
    background-color: var(--background-pri);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1{
    color: var(--heading-color);
    font-size: 3rem;
    background-color: var(--primary-color);
    margin: 0%;
    padding: 1rem;
}

nav{
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0%;
    padding: 0.5rem;
}

nav a{
    color: var(--heading-color);
    text-decoration: none;
    padding: 1rem;
}

label{
    font-weight: bold;
}

input{
    max-width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    font-size: large;
    border: 1px solid black;
    border-radius: 1rem;
}

button{
    margin: 1rem auto;
    padding: 0.1rem 1.5rem;
    font-size: large;
    font-weight: bold;
}

#output{
    font-size: x-large;
    font-weight: bolder;
}